


<ul >
  
  <li  *ngFor='let question of questions  ' >
        
    
    <div class="display-4"  >
      
      {{ question.text  }}
      
    </div>
    <br>
    <div class="center">
      <button type="button" 
      [ngClass]="{'btn-success': question.reply1==question.correctAnswer && question.correct=='true' }"
      class=" btn-lg btn-block btn btn-primary m-1" (click)=pickAnswer(question.correctAnswer,question.reply1,question)
      [disabled]="question.correct==true"
      > {{ question.reply1  }}</button>
      <br>
      <button type="button"
      [ngClass]="{'btn-success': question.reply2==question.correctAnswer && question.correct=='true' }"
      class=" btn-lg btn-block btn btn-primary m-1" (click)=pickAnswer(question.correctAnswer,question.reply2,question) > {{ question.reply2  }}</button>
      <br>
      <button type="button"
      [ngClass]="{'btn-success': question.reply3==question.correctAnswer && question.correct=='true' }"
      class="btn-lg btn-block btn btn-primary m-1" (click)=pickAnswer(question.correctAnswer,question.reply3,question) > {{ question.reply3  }}</button>
    </div>
    <br>
    
  </li>
  <pre>
  </pre>
</ul>
